[run]
branch = True
relative_files = True
parallel = True
source =
    qreward
omit =
    setup.py
    install.py
    test.py
    tests/*

[report]
show_missing = True
precision = 2
omit =
    setup.py
    install.py
    test.py
    tests/*

[html]
directory = htmlcov
show_contexts = True