[run]
branch = True
omit =
    setup.py
    install.py
    test.py
    tests/*
source =
    qreward/*

[report]
skip_covered = True
show_missing = True
omit =
    setup.py
    install.py

[html]
show_contexts = True
omit =
    setup.py
    install.py
    test.py
    tests/*